/* font face add */
/*
 * Legal Disclaimer
 *
 * These web fonts are licensed exclusively for use on the following:
 * All domains belonging to Petco
 *
 * It is strictly forbidden to download or use these fonts on any other website domain or media.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2020
 */

/*------ Font import start ------*/
@font-face {
  font-family: PetcoCircularTT-Regular;
  src: url(assets/fonts/PetcoCircularTT-Regular.woff2) format("woff2"),
    url(assets/fonts/PetcoCircularTT-Regular.woff) format("woff");
}

@font-face {
  font-family: PetcoCircularTT-Bold;
  src: url(assets/fonts/PetcoCircularTT-Bold.woff2) format("woff2"),
    url(/assets/fonts/PetcoCircularTT-Bold.woff) format("woff");
}
/*------ Font import end ------*/

/*------ Common style start (1440px)------*/
body {
  margin: 0px;
  padding: 0px;
  font-family: "PetcoCircularTT-Regular", arial !important;
}
.citrusBISilver_desktop__hide {
  display: none!important;
}
.citrusBISilver_mobile__hide {
  display: block;
}
.citrusBISilver__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.citrusBISilver__wrapper a {
  text-decoration: none;
}
.citrusBISilver__sectionTitle {
  margin: 25px 0px;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #000000;
}
.citrusBISilver__wrapper img {
  max-width: 100%;
}
/*------- Common style end (1440px)------*/

/*----------- Slider Start (Max-1440px)----------- */
.citrusBISilver__firstSlideContainer{
  background-image: url(../assets/images/Hero-desktop-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1440px;
  height: 400px;
  max-width: 100%;
  margin: auto;
}
.citrusBISilver__firstSlide_Row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  padding-top: 60px;
}
.citrusBISilver__firstSlide__middleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
}
.citrusBISilver__firstSlide__title {
  font-family: "PetcoCircularTT-bold", arial !important;
  font-size: 35px;
  line-height: 40px;
  font-weight: bold;
  color: #001952;
  text-align: center;
}
.citrusBISilver__Middle_textContainer{
  width: 100%;
}
.citrusBISilver__Middle_textContainer_logo{
  max-width: 207px;
  margin: 0px auto;
}
.citrusBISilver__MiddleCTA-Box,
.citrusBISilver__CalltoActionCTA-Box {
  display: flex;
  text-align: center;
}
.citrusBISilver__firstSlideContainer .citrusBISilver__shopCTALarge,
.citrusBISilver__CalltoActionCTA-Box .citrusBISilver__shopCTALarge {
  font-family: "PetcoCircularTT-bold", arial !important;
  font-size: 16px;
  font-weight: bold;
  background: #ffffff;
  text-transform: uppercase;
  color: #001952;
  width: 211px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  border-radius: 8px;
  margin: 0px 12px;
}
.citrusBISilver__firstSlide__legal{
  font-family: "PetcoCircularTT-Regular", arial !important;
  color: #001952;
  font-size: 12px;
  padding: 15px 10px;
}
/*----------- Slider End (Max-1440px)----------- */

/*------- Product style start (1440px)------*/
.citrusBISilver-wrapper {
  width: 100%;
  max-width: 1273px;
  margin: auto;
  overflow-x: auto;
}
.citrusBISilverTabId {
  width: 100%;
  max-width: 1440px;
  overflow-x: auto;
}
.citrusBISilver__tab-area {
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 25px;
}

.citrusBISilver__tab-container {
  max-width: 1273px;
  width: 100%;
  margin: 0 auto;
}
.splide__pagination {
  display: none;
}
.citrusBISilver__dogProduct,
.citrusBISilver__catProduct {
  max-width: 195px;
  width: 100% !important;
  margin: 0px 9px;
  display: none;
}
.citrusBISilver-tab-cardImg img {
  max-width: 100%;
  min-height: 175px;
}
.citrusBISilver-tab-card > a {
  text-decoration: none;
  color: #000;
}
.citrusBISilver-tab-card p {
  font-family: "PetcoCircularTT-Regular", arial !important;
  color: #333333;
  font-size: 13px;
  text-align: left;
  margin: 20px 0 10px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 4em; 
}
a.citrusBISilver__productCTA {
  text-decoration: underline;
  font-family: "PetcoCircularTT-Bold", arial !important;
  color: #001952;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}
/***** best seller section ****/
.citrusBISilver__dogProducts,
.citrusBISilver__Products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}
.citrusBISilver-tab-cardImg {
  padding: 0 10px;
  margin: auto;
}
.citrusTabShow {
  display: block;
}
.citrusBISilver__tab_item {
  text-transform: uppercase;
  padding: 12px 35px;
  margin: 0px 10px;
  font-size: 14px;
  text-decoration: none;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  color: #6e6b6b;
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}
button {
  font-family: "PetcoCircularTT-Regular", arial !important;
}
.citrusBISilver__tab_item.citrusBISilver__Dog-active_tab,
.citrusBISilver__tab_item.citrusBISilver__cat-active_tab {
  color: #001952;
  border-bottom: 8px solid #001952;
  margin-top: 10px;
  border-radius: 0;
}
.citrusBISilverTabId {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #021b4e;
}
.citrusBISilver_hide_arrow .splide__arrows {
  display: none;
}
.citrusBISilver-section__tab-content .splide__arrow:disabled {
  opacity: 0;
}
/*------- Product style end (1440px)------*/

/*------- Video style start (1440px)------*/
.citrusBISilver__videoSection {
  margin-top: 15px;
  margin-bottom: 15px;
}
.citrusBISilver__videoSection__sectionTitle_spacing{
  margin: 40px 0px 5px 0px;
}
.citrusBISilver__VideoContainer {
  width: 1100px;
  max-width: 95%;
  margin: auto;
  padding-top: 40px;
}
.citrusBISilver__VideoRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}
.citrusBISilver__VideoProduct, .citrusBISilver__VideoCard {
  background-color: rgba(4, 125, 186, 0.15);
  text-align: center;
  display: grid;
  flex-direction: column;
}
.citrusBISilver__VideoCard .iframe iframe {
  width: 100%;
  height: 528px;
}
.citrusBISilver__VideoProduct, .citrusBISilver__VideoCard .iframe{
  max-height: 528px;
  min-height: 528px;
}
.citrusBISilver__VideocardBody .products{
 display: flex; 
 flex-wrap: nowrap;
 justify-content: center;
 align-items: center;
 max-width: 80%;
 margin: -160px auto 0px auto;
}
.citrusBISilver__VideocardBody .products h6{
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: normal;
  color: #000000;
  font-size: 12px;
  line-height: 22px;
  margin: 0px;
  padding: 0px;
}
.citrusBISilver__VideocardBody_heading {
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin: 15px 0 10px;
}
.citrusBISilver__VideocardBody_details {
  font-family: "PetcoCircularTT-regular", arial !important;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  width: 90%;
  margin: 10px auto;
  padding: 0;
}
.citrusBISilver__VideocardBody_legal {
  font-family: "PetcoCircularTT-regular", arial !important;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  width: 90%;
  margin: 15px auto;
}
/*------- Video style start (1440px)------*/

/*------- Video two style start (1440px)------*/
.citrusBISilver__videoSection__sectionTitle_spacing_two{
  margin: 20px 0px 5px 0px;
}
.citrusBISilver__VideocardBody > .two h6{
}
.citrusBISilver__VideocardBody > .two img{
  max-width: 210px;
}
.citrusBISilver__VideocardBody > .two{
  justify-content: end;
}
/*------- Video two style start (1440px)------*/

/*------- Product Comparison style start (1440px)------*/
.citrusBISilver__productComparison{
  width: 1440px;
  max-width: 100%;
  margin: 10px auto;
}
.citrusBISilver__productComparison .citrusBISilver__sectionTitle{
  margin-top: 55px;
}
.citrusBISilver__productComparison_tbl{
  width: 780px;
  max-width: 100%;
  margin: 20px auto;
  text-align: left;
}
.citrusBISilver__productComparison_tbl th{
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  color: #000000;
  padding: 30px;
  border-bottom: 1px solid #E2E2E2;
}
.citrusBISilver__productComparison_tbl td{
  font-family: "PetcoCircularTT-regular", arial !important;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  color: #000000;
  padding: 30px;
  border-bottom: 1px solid #E2E2E2;
}
.citrusBISilver__productComparison_tbl tr{
  border-bottom: 1px solid #E2E2E2;
}
.citrusBISilver__productComparison_logo{
  max-width: 204px!important;
}
.citrusBISilver__productComparison_tbl .products {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}
.citrusBISilver__productComparison_tbl .products h5 {
  margin: 5px;
  font-family: "PetcoCircularTT-regular", arial !important;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}
.citrusBISilver__productComparison_tbl .products img{
  max-width: 105px;
}
.citrusBISilver__productComparison_tbl .product-for-cats {
  max-width: 110px!important;
}
/*------- Product Comparison style end (1440px)------*/

/*------- CalltoAction style start (1440px)------*/
#citrusBISilver__CalltoAction {
  margin: 30px 0px 10px 0px;
  padding: 45px 0px;
  background-color: #EDC389;
}
.citrusBISilver__CalltoAction .citrusBISilver__sectionTitle{
  margin-top: -5px;
}
.citrusBISilver__CalltoActionRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.citrusBISilver__CalltoActionLeft .products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}
.citrusBISilver__CalltoActionLeft .products img{
  max-width: 164px;
}
.citrusBISilver__CalltoActionTextContainer {
  text-align: center;
}
.citrusBISilver__CalltoActionLeft .products h6{
  margin: 0px;
}
.citrusBISilver__CalltoActionTextContainer p {
  width: 90%;
  max-width: 495px;
  margin: 20px auto 35px auto;
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}
.citrusBISilver__CalltoActionCTA-Box{
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.citrusBISilver__CalltoActionCTA-Box .citrusBISilver__shopCTALarge{
  background: #001952;
  color: #ffffff;
}
/*------- CalltoAction style end (1440px) ------*/

/*------- Footer copy style start (1440px) ------*/
.citrusBISilver__footer-copy{
  max-width: 865px;
  margin: 5px auto;
  padding: 5px;
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  text-align: center;

}
/*------- Footer copy style end (1440px) ------*/
/*------- responsive styling ------ */
@media all and (min-width: 1440px) {

}
@media all and (min-width: 1201px) and (max-width: 1350px) {
  .citrusBISilver__firstSlide_Row{
    padding-top: 40px;
  }
}
@media all and (max-width: 1301px) {
  .citrusBISilver__tab-container {
    width: 90%;
  }
  .citrusBISilver__dogProduct,
  .citrusBISilver__catProduct {
    max-width: 210px;
  }
}
@media all and (max-width: 1280px) {
  .citrusBISilver__tab_item {
    width: 50%;
  }
  /* slider */
  .citrusBISilver__firstSlideContainer{
    height: 360px;
  }
  .citrusBISilver__firstSlide_Row{
    padding-top: 45px;
  }
  .citrusBISilver__Middle_textContainer_logo{
    max-width: 182px;
  }
  .citrusBISilver__firstSlide__title{
    font-size: 32px;
    line-height: 34px;
  }
  .citrusBISilver__firstSlideContainer .citrusBISilver__shopCTALarge{
    width: 185px;
    height: 45px;
    line-height: 45px;
  }
}
@media all and (min-width: 992px) and (max-width: 1150px) {
  /* slider */
  .citrusBISilver__firstSlideContainer{
    height: 330px;
  }
  .citrusBISilver__firstSlide_Row{
    padding-top: 35px;
  }
  .citrusBISilver__Middle_textContainer_logo{
    max-width: 150px;
  }
  .citrusBISilver__firstSlide__title{
    font-size: 28px;
    line-height: 30px;
  }
  .citrusBISilver__firstSlideContainer .citrusBISilver__shopCTALarge{
    width: 185px;
    height: 45px;
    line-height: 45px;
  }
}
@media all and (min-width: 850px) and (max-width: 992px) {
  .citrusBISilver__firstSlideContainer{
    height: 270px;
  }
  .citrusBISilver__firstSlide_Row{
    padding-top: 30px;
  }
  .citrusBISilver__Middle_textContainer_logo{
    max-width: 112px;
  }
  .citrusBISilver__firstSlide__title{
    font-size: 24px;
    line-height: 25px;
  }
  .citrusBISilver__firstSlideContainer .citrusBISilver__shopCTALarge{
    width: 160px;
    height: 35px;
    line-height: 35px;
  }
  .citrusBISilver__firstSlide__legal{
    padding: 5px;
    font-size: 11px;
  }
}
@media all and (min-width: 769px) and (max-width: 850px) {
  .citrusBISilver__firstSlideContainer{
    height: 230px;
  }
  .citrusBISilver__firstSlide_Row{
    padding-top: 25px;
  }
  .citrusBISilver__Middle_textContainer_logo{
    max-width: 112px;
  }
  .citrusBISilver__firstSlide__title{
    font-size: 22px;
    line-height: 23px;
  }
  .citrusBISilver__firstSlideContainer .citrusBISilver__shopCTALarge{
    width: 160px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }
  .citrusBISilver__firstSlide__legal{
    padding: 5px;
    font-size: 11px;
  }
  /* slider */
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  .citrusBISilver__sliderTitle h1 {
    margin: 0 0 10px 0;
    font-size: 32px;
    line-height: 30px;
  }
  #citrusBISilver__slider1 .logo,
  #citrusBISilver__slider2 .logo,
  #citrusBISilver__slider3 .logo {
    width: 180px;
  }
  #citrusBISilver__slider3 .logo {
    margin-top: -20%;
    padding-right: 0%;
  }
  #citrusBISilver__slider2 .logo {
    margin-top: -19%;
    padding-right: 0%;
  }
}
@media all and (max-width: 768px) {
  .citrusBISilver_desktop__hide {
    display: block!important;
  }
  .citrusBISilver_mobile__hide {
    display: none!important;
  }
  /*------- Slider start (768px) ------*/
  .citrusBISilver__firstSlideContainer{
    background-image: url(../assets/images/Hero-mobile-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1440px;
    min-height: 1070px;
    max-width: 100%;
    margin: auto;
  }
  .citrusBISilver__firstSlide_Row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    padding-top: 0px;
  }
  .citrusBISilver__firstSlide__tophalf, .citrusBISilver__firstSlide__middleContainer{
    width: 100%;
  }
  .citrusBISilver__firstSlide__middleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    height: auto;
    margin-top: 70px;
  }
  .citrusBISilver__firstSlide__title {
    font-family: "PetcoCircularTT-bold", arial !important;
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
    color: #001952;
    text-align: center;
  }
  .citrusBISilver__Middle_textContainer{
    width: 100%;
  }
  .citrusBISilver__Middle_textContainer_logo{
    max-width: 207px;
    margin: 0px auto;
  }
  .citrusBISilver__MiddleCTA-Box,
  .citrusBISilver__secondSlideCTA-Box {
    display: grid;
    text-align: center;
  }
  .citrusBISilver__firstSlideContainer .citrusBISilver__shopCTALarge {
    font-family: "PetcoCircularTT-bold", arial !important;
    font-size: 16px;
    font-weight: bold;
    background: #ffffff;
    text-transform: uppercase;
    color: #001952;
    width: 211px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    border-radius: 8px;
    margin: 0px 12px;
  }
  .citrusBISilver__firstSlide__legal{
    padding: 15px 10px;
  }
  /*------- Slider end (768px)------*/
  /*------- Product start (768px)------*/
  .citrusBISilver__tab_item {
    width: 100%;
  }
  .citrusBISilver__dogProduct,
  .citrusBISilver__catProduct {
    max-width: 235px;
  }
  .splide__arrows {
    display: none;
  }
  a.citrusBISilver__productCTA {
    text-decoration: underline !important;
  }
  .citrusBISilver__tab-area {
    padding-bottom: 0;
  }
  /*------- Product end (768px)------*/  
  /*------- Video start (768px)------*/
  .citrusBISilver__videoSection {
    margin-top: 40px;
    /* margin-bottom: 40px; */
  }
  .citrusBISilver__VideoContainer {
    max-width: 100%;
  }
  .citrusBISilver__VideoContainer {
    padding-top: 0;
    width: 700px;
    overflow: auto;
  }
  .citrusBISilver__VideoRow {
    display: grid;
    grid-template-columns: repeat(1, 1fr)!important;
    grid-column-gap: 20px!important;
    grid-row-gap: 20px!important;
    max-width: 100%!important;
    overflow: hidden;
  }
  .citrusBISilver__VideoProduct, .citrusBISilver__VideoCard .iframe{
    max-height: 100%;
    min-height: 0px;
    height: auto;
  }
  .citrusBISilver__VideocardBody .products{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: -100px auto 0px auto;
  }
  .citrusBISilver__VideocardBody{
    padding: 15px;
  }
  .citrusBISilver__VideoProduct, .citrusBISilver__VideoCard {
    padding-bottom: 0;
  }
  .citrusBISilver__VideoCard .iframe iframe {
    height: 217px;
  }
  .citrusBISilver__cardBody p {
    width: 90%;
    padding-bottom: 30px;
  }
  .citrusBISilver__VideoCard .iframe.order1 {
    display: grid;
    order: 2;
  }
  .citrusBISilver__VideoCard .citrusBISilver__cardBody.order2 {
    display: grid;
    order: 1;
  }
  .citrusBISilver__videoSection > .citrusBISilver__sectionTitle {
    padding: 0 20px 40px;
  }
  .citrusBISilver__sectionTitle {
    padding: 0 0px;
    font-size: 20px;
    line-height: 20px;
  }
  /*------- Video start (768px)------*/

  /*------- Product Comparison start (768px)------*/
 .citrusBISilver__productComparison__tbl_wrapper{
  max-width: 100%;
  overflow-y: scroll;
 }
 .citrusBISilver__productComparison_logo{
  max-width: 120px!important;
 }
 .citrusBISilver__productComparison_tbl td{
  padding: 15px;
 }
  /*------- Product Comparison start (768px)------*/

  /*------- CalltoAction start (768px)------*/
  .citrusBISilver__CalltoActionRow {
    flex-wrap: wrap;
  }
  .citrusBISilver__CalltoActionRow .order1 {
    order: 2;
  }
  .citrusBISilver__CalltoActionRow .order2 {
    order: 1;
  }
  .citrusBISilver__CalltoAction .citrusBISilver__shopCTALarge {
    background: #00195200;
    text-transform: capitalize;
    color: #001952;
    width: 100px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    text-decoration: underline;
    font-weight: bold;
  }
  .citrusBISilver__CalltoAction .citrusBISilver_desktop__hide{
    margin-top: 35px;
  }
  /*------- CalltoAction end (768px)------*/
  .citrusBISilver__footer-copy{
    padding: 5px 20px;
  }
}
@media all and (max-width: 699px) {
  .citrusBISilver__firstSlideContainer{
    min-height: 900px;
  }
  .citrusBISilver__firstSlide__middleContainer{
    margin-top: 150px;
  }
}
@media all and (max-width: 575px) {
  .citrusBISilver__firstSlideContainer{
    min-height: 770px;
  }
  .citrusBISilver__firstSlide__middleContainer{
    margin-top: 220px;
  }
}
@media all and (max-width: 480px) {
  .citrusBISilver__firstSlideContainer{
    min-height: 630px;
  }
  .citrusBISilver__firstSlide__middleContainer{
    margin-top: 220px;
  }
  .citrusBISilver__Middle_textContainer_logo{
    max-width: 139px;
  }
  .citrusBISilver__firstSlide__title{
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 8px;
  }
  .citrusBISilver__MiddleCTA-Box > .citrusBISilver__shopCTALarge{
    background: #00195200;
    text-transform: capitalize;
    color: #001952;
    width: 100px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    text-decoration: underline;
    font-weight: bold;
  }
  .citrusBISilver__firstSlide__legal{
    padding: 0px;
  }
}
@media all and (max-width: 428px) {
  .citrusBISilver__firstSlideContainer{
    min-height: 535px;
  }
  .citrusBISilver__firstSlide__middleContainer{
    margin-top: 150px;
  }
}
@media all and (max-width: 375px) {
  .citrusBISilver__dogProduct,
  .citrusBISilver__catProduct {
    max-width: 195px;
  }
  .citrusBISilver__firstSlideContainer{
    min-height: 500px;
  }
}
